<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <a class="navbar-brand" href="/"> Mongo Scraper </a>
      <a class="navbar-text" href="/"> Home </a>
      <a class="navbar-text" id="saved-articles" href="/saved"> Saved Articles </a>
      <a href="/scrape"><button type="button" class="btn btn-default navbar-btn" id="scrape-articles">Scrape New Articles!</button></a>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="header">Mongo Scraper</h1>
  <p>Science Daily Edition</p>
</div>

<div id="articles">
  <div class="row">
  {{#each articles}}
      <div class="col-md-12 data-entry">
        <div class="thumbnail">
          <div class="row">
            <div class="col-md-10 data-entry">
              <div class="caption">
                <a href='{{this.link}}'> <h3>{{this.title}}</h3> </a>
                <p> {{this.summary}}</p>
              </div>
              <p data-id="{{this._id}}" class="comment-article"> Comments 
                <i class="fas fa-comments"></i>
              </p>
            </div>
            <div class="col-md-2">
              <p data-id="{{this._id}}" class="save-article"> Save   
                <i class="fas fa-plus"></i> 
              </p>
            </div>
          </div>
        </div>
      </div>
  {{/each}}
  </div>
</div>
  
{{#each articles}}
 <div id="comments" role="dialog" data-id="{{this._id}}" style="display:none" class="none">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="close-item"> </div>
      <form class="form-comment" data-id="{{this._id}}" name="add-comment">
          <label for="item_name">
            <h3>Comments for Article: {{this.title}} </h3>
            <hr>

            <h3>Existing Comments </h3>
          </label>


      {{#if comments}}
        <li class="article-comments-list">
            {{this.comments}}
            <a href="/events/{{this.id}}">
                <p class="delete-comment">  <i class='fas fa-times'></i> </p>
            </a>
        </li>

      {{else}}
        <p>There are no comments for this article yet.</p>
      {{/if}}


          <textarea placeholder="New Comment" class="text-area" id="comment" rows="3"></textarea>
            <hr>
          <button class="btn btn-primary submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{{/each}}



 <ul class="article-comments-list">
    {{#each articles}}
      
    {{/each}}
</ul>










