
<h1 class="header">Latest Health Articles</h1>

<div class="scrape-button">
  <a href="/scrape"><button type="button" class="btn btn-warning" id="scrape-articles">Scrape New Articles!</button></a>
</div>

<div id="saved-button">
  <a href="/saved"><button type="button" class="btn btn-warning" id="saved-articles">See Saved Articles!</button></a>
</div>

<div id="articles">
  {{#each articles}}
    <div class='data-entry'> 
      <a href='{{this.link}}'> <h4>{{this.title}}</h4> </a>  
      <p> {{this.summary}}</p>
      <button type="button" data-id="{{this._id}}" class="btn btn-primary save-article"> Save </button>
      <button type="button" data-id="{{this._id}}" class="btn btn-primary comment-article"> Add/View Comments </button>  
    </div>
  {{/each}}
</div>

 <div id="comments" role="dialog" style="display:none" class="none">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="close-item"> </div>
      <form class="form-comment" data-id={{this._id}} name="add-comment">
          <label for="item_name">
            <h3>Comments for Article: {{this.title}} </h3>
            <hr>
          </label>
          <textarea placeholder="New Comment" class= "text-area" rows="3"></textarea>
            <hr>
          <button class="btn btn-primary submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

 <ul class="article-comments-list">
    {{#each articles}}
      {{#if comments}}
        <li class="article-comments-list">
            {{this.comments}}
            <a href="/events/{{this.id}}">
                <p class="delete-comment">  <i class='fas fa-times'></i> </p>
            </a>
        </li>
      {{/if}}

    {{else}}
      <p>There are no comments for this article yet.</p>
    {{/each}}
</ul>



